html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: open sans, sans-serif;
}

body {
    background-color: #492b22;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: #af643b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    border-radius: 10px;
    padding: 15px 25px;
    width: 80vh;
    max-width: 200vh;
    margin: 5em;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px ;
}

.img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

h1 {
    font-family: Anton, sans-serif;
    font-size: 7vh;
    margin-bottom: 0.5em;
    text-align: center;
    color: #e4bec1;

}

.pick {
    border-bottom: 1px solid #e9cb9f;
}

.pick:last-child{
    border-bottom: none;
}

.cafe-img {
 margin-bottom: 15px;
}

.cafe-header {
    color: #192b10;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: Bebas Neue, sans-serif;
    font-size: x-large;

}
.cafe-features {
    margin: 50px 0 25px;
    color: #e4bec1;
}

.cafe-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 0.5;
    padding: 15px 0;
}

.cafe-features-item:last-child {
    border-bottom: 1px solid #e9cb9f;
}
.cafe-price {
    color: #e4bec1;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #e9cb9f;
    border-radius: 10px;
    color: #DAF7A6;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out ;

}
.pricing-button:hover , .pricing-button:focus{
    background-color: #192b10;

}

@media (min-width:500px) {
    .panel {
        flex-direction: row;
    }
    .cafe-features-item:last-child {
        border-bottom: none;
    }
    .pick {
        border-bottom: none;
        border-right: 1px solid #e9cb9f;
        padding: 25px 50px;
    }
    .pick:last-child{
        border-right: none;
    }

}